<nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">

  <div class="container">
    <a href="#" class="navbar-brand"> <span class="">
        <strong>
          Control de </strong> Asistencia </span> </a>
    <img src="/cseidev/registroQR/qr_registroA/assets/img/csei2019.ico" alt="Logo del Sitio Web" width="50"
      height="auto" class="rounded-circle py-3">

    <button type="button" class="navbar-toggler " data-toggle="collapse" data-target="#menu-principal"
      aria-controls="menu-principal" aria-expanded="false" aria-label="Desplegar Menu de Navegacion">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menu-principal">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item "> <a href="#" class="nav-link active">Acerca de..</a> </li>
        <li class="nav-item"> <a href="#" class="nav-link">Salir</a> </li>
      </ul>
    </div>

  </div>

</nav>