<section class="quien-soy py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 text-center ">
          <img src="/cseidev/registroQR/qr_registroA/assets/img/descarga.jpg" alt="Imagen logo UTA" class="img-fluid mb-6">
        </div>
        <div class="col-12 col-md-6 text-center text-md-left align-self-md-center">
          <h1 class="display-4 font-weight-bold text-primary">Universidad Tecnica de Ambato</h1>
          <p>
            Facultad de Tecnologias de la Informacion Telecomunicaciones e Industrial
          </p>
  
        </div>
      </div>
    </div>
  </section>
